apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.name -}}-deployment
  labels:
    app: {{ .Values.name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
    spec:
      containers:
      - name: {{ .Values.name }}
      image: {{ .Values.imageurl }}
      resources:
        limits:
          memory: "128Mi"
          cpu: "500m"
      ports:
		  {{- range $port := .Values.ports }}
        - containerPort: {{$port -}}
      {{- end }}